<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
</head>
<script src="angular.min.js">








</script>

<body>
<div ng-app="" ng-init="unitprice=0; noOfItems=0;" >


   unitPrice:
    <input type="number" ng-model="unitprice">
    <br>
  No OF Items:
    <input type="number" ng-model="noOfItems">
    <p>


       TotalCost= {{unitprice*noOfItems}}</p>
</div>
</body>
</html>