<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="angular.min.js">








</script>

<body>
<div ng-app="" ng-init="username">

username:
<input type="text" ng-model="username">
<br>
password:
<input type="text" ng-model="password">
<p>{{username}}</p>

<p>{{password}}</p>

<p>{{10*10000}}</p>

</div>
</body>
</html>