<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-app="myApp">

    <div ng-controller="myController">
        <ul>

            <li ng-repeat="item in fruits">
                {{item}}

            </li>
        </ul>

    </div>

</div>
</body>
</html>