<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angulatr</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body>

<div ng-app="myApp"  >


    <div ng-controller="myController2"     >
      ProductName:
        <input type="text" ng-model="product.name">
        Product Price:
        <input type="number" ng-model="product.price">

        <p>{{product.name}}</p>
        <p>{{product.price}}</p>

    </div>
</div>
</body>
</html>