<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <style>
        .img{

            width: 250px;
            height: 100px;
        }
.colr{
width: 250px;

    margin: 20px ;
    border:1px black solid;
    background-color: #5bc0de;
    text-align: center;
    float: left;
}
    </style>

    <script src="angular.min.js"></script>
    <script src="app2.js"></script>
</head>
<body>
<div ng-app="myApp"  >
    <div ng-controller="myController">
<div>
    <fieldset>
    <legend>ADD NEW PRODUCT</legend>
        <form>

        <div>
            <label>Product Name:</label>
            <input type="text"  ng-model="new.name">

        </div>
            <div>
                <label>Product Price:</label>
                <input type="text" ng-model="new.price">

            </div>
            <div>
                <label>Product In Stock:</label>
                <input type="text" ng-model="new.qty">

            </div>
            <div>
                <label>Product Weight:</label>
                <input type="text"  ng-model="new.pounds">

            </div>

            <div>
                <input type="button" value="Add Now" ng-click="addProduct()"></div>
    </form>
    </fieldset>
</div>
<div ng-repeat="item in products" class="colr">

    <img src="{{item.imagePath}}" class="img " >
   <p> product Name:{{item.name}}</p>
    <p> product Price:{{item.price}}</p>
    <p> product in Stock:{{item.qty}}</p>
    <p> product Weight:{{item.pounds}} lbs</p>


    <input type="button" value="Add to Cart">
</div>

    </div>
</div>
</body>
</html>