<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
</head>
<style>
    .img{

        width: 250px;
        height: 100px;
    }
    .colr{
        width: 250px;

        margin: 20px ;
        border:1px black solid;
        background-color: #5bc0de;
        text-align: center;
        float: left;
    }

    .product
    {

        border:solid;
        width:320px;
        float: left;
margin-right: 20px;
    }

    .cart{

        border:solid;
        width: 320px;
        float:left;
    }
</style>

<script src="angular.min.js"></script>
<script src="app3.js"></script>
</head>
<body>
<div ng-app="myApp"  >
    <div ng-controller="myController">





<div class="product">
    <div ng-repeat="item n products">
<h3>Products</h3>
        <p> product Name:{{item.name}}</p>
        <p> product Price:{{item.price}}</p>
        <input type="button" value="Add to Cart" ng-click="addtocart(item)">
    </div>
<div class="cart">

    <h3>Cart</h3>
    <div ng-repeat="item in cart">
        <p> {{item.name}}</p>
        <p> {{item.price}}</p>

    </div>

</div>


</div>
    </div>
</div>

</body>
</html>